HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/
/src/main/resources/static/assets/images/characters/
!**/src/main/resources/static/assets/images/characters/

### VS Code ###
.vscode/
/src/main/resources/static/assets/images/items/books_radio.png
/src/main/resources/static/assets/images/items/books_radio_card.png
/src/main/resources/static/assets/images/items/books_shelf.png
/src/main/resources/static/assets/images/items/books_shelf_card.png
/src/main/resources/static/assets/images/items/carpet.png
/src/main/resources/static/assets/images/items/carpet_card.png
/src/main/resources/static/assets/images/items/cat.png
/src/main/resources/static/assets/images/items/cat_card.png
/src/main/resources/static/assets/images/coin-dev.png
/src/main/resources/static/assets/images/free-icon-heart.png
/src/main/resources/static/assets/images/free-icon-home.png
/src/main/resources/static/assets/images/free-icon-ticket.png
/src/main/resources/static/assets/images/friends_butt.png
/src/main/resources/static/assets/images/graph.png
/src/main/resources/static/assets/images/items/grass.png
/src/main/resources/static/assets/images/items/grass_card.png
/src/main/resources/static/assets/images/items/lamp.png
/src/main/resources/static/assets/images/items/lamp_card.png
/src/main/resources/static/assets/images/characters/lesha_card.png
/src/main/resources/static/assets/images/characters/lesha_rest.png
/src/main/resources/static/assets/images/characters/lesha_sit.png
/src/main/resources/static/assets/images/characters/lesha_stand.png
/src/main/resources/static/assets/images/characters/lesha_study.png
/src/main/resources/static/assets/images/items/lights.png
/src/main/resources/static/assets/images/items/lights_card.png
/src/main/resources/static/assets/images/characters/mila_card.png
/src/main/resources/static/assets/images/characters/mila_rest.png
/src/main/resources/static/assets/images/characters/mila_sit.png
/src/main/resources/static/assets/images/characters/mila_stand.png
/src/main/resources/static/assets/images/characters/mila_study.png
/src/main/resources/static/assets/images/characters/nick_sit.jpg
/src/main/resources/static/assets/images/notes_bg.png
/src/main/resources/static/assets/images/items/plant.png
/src/main/resources/static/assets/images/items/plant_card.png
/src/main/resources/static/assets/images/items/posters.png
/src/main/resources/static/assets/images/items/posters_card.png
/src/main/resources/static/assets/images/characters/richard_card.png
/src/main/resources/static/assets/images/characters/richard_rest.png
/src/main/resources/static/assets/images/characters/richard_sit.png
/src/main/resources/static/assets/images/characters/richard_stand.png
/src/main/resources/static/assets/images/characters/richard_study.png
/src/main/resources/static/assets/images/room_empty.png
/src/main/resources/static/pages/main/js/items/shop.js
/src/main/resources/static/assets/images/items/sofa_test.png
/src/main/resources/static/assets/images/items/sofa_test2.png
/src/main/resources/static/assets/images/start_button.png
/src/main/resources/static/assets/images/start_button2.png
/src/main/resources/static/assets/images/table_bg.png
/src/main/resources/static/assets/images/items/teddy_bear.png
/src/main/resources/static/assets/images/items/teddy_bear_card.png
/src/main/resources/static/assets/images/timer_bg.png
/src/main/resources/static/assets/images/characters/nick_rest.png
/src/main/resources/static/assets/images/characters/nick_sit.png
