@font-face {
font-family: 'overdoze';
src: url('/shared/overdozesans.ttf') format('truetype'),local('overdozesans');
font-style: normal;
font-display: swap;
}

:root {
    --bg: #c3def7;
    --card: #fffaf4;
    --line: #8c6f64;
    --text: #5b4a44;
    --accent-1: #ffd9e2;
    --radius: 12px;
    --border: 3px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'overdoze',serif;
    min-height: 100vh;
    color: var(--text);
    background-color: var(--bg);
}

.character-wrapper {
  position: fixed;
  right: 150px;
  bottom: 80px;
  z-index: 1000;
}

.greeting-character {
  display: block;

}


/* класс, который будем добавлять после скролла */
.greeting-character.visible {
  opacity: 1;
  pointer-events: auto;
}

@media (min-width: 768px) {
  .greeting-character {
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;          /* всегда видно */
    pointer-events: auto;
  }
}

.character-message {
  position: absolute;

  /* ПРИВЯЗКА К ПЕРСОНАЖУ */
  bottom: 100%;        /* всегда над персонажем */
  right: 50%;            /* справа от него */
  margin-bottom: 5px; /* отступ между персонажем и сообщением */

  background: var(--card);
  color: var(--text);

  border: 3px solid var(--line);
  border-radius: var(--radius);

  padding: 12px 16px;
  max-width: 500px;

  font-size: 30px;
  line-height: 1.4;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}


/* контур хвостика */
.character-message::before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 30px;

  width: 0;
  height: 0;

  border-left: 17px solid transparent;
  border-right:17px solid transparent;
  border-top: 20px solid var(--line);
}

/* внутренняя белая часть */
.character-message::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 30px;

  width: 0;
  height: 0;

  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 20px solid var(--card);
}

.room-bg {
    position: absolute;
    top: 10px;
    left: 100px;
    width: 1920px;
    height: 1280px;
}

/* Контейнер */
.container {
    height: 100vh;
    display: flex;
    align-items: flex-start;
}

.notebook-section {
    margin-left: 116px;
    margin-top: 80px;
    position: fixed;
}

/* Блокнот */
.notebook {
    width: 420px;
    min-height: 560px;
    background: var(--card);
    border: var(--border) solid var(--line);
    border-radius: var(--radius);
    padding: 40px 30px 30px 50px;
    position: relative;

}

/* Кольца */
.notebook-rings {
    position: absolute;
    left: 14px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.ring {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--line);
    opacity: 0.6;
}

/* Заголовок */
.notebook-title {
    text-align: center;
    font-size: 2.4rem;
    margin-bottom: 25px;
    border-bottom: 2px dashed var(--line);
    padding-bottom: 10px;
    font-family: 'overdoze';
}

/* Форма */
.form {
    font-family: "Nunito", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

label {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    gap: 6px;
}

input {
    padding: 10px 14px;
    border-radius: 8px;
    border: var(--border) solid var(--line);
    font-size: 0.95rem;
}

.btn {
    font-size: 2.4rem;
    margin-top: 10px;
    padding: 14px 0;
    background: none;
    border: none;
    color: var(--text);
    cursor: pointer;
    transition: 0.25s;
    font-family: 'overdoze';

}

.btn:hover {
    transform: translateY(-2px);
    background: #ffc6d0;
    border-radius: 30px;
}

/* Переключение */
.switch {
    margin-top: 18px;
    text-align: center;
    font-family: "Nunito", sans-serif;
}

.switch a {
    color: var(--text);
    text-decoration: none;
    border-bottom: 1px dashed var(--line);
    font-size: 0.9rem;
}

.switch a:hover {
    opacity: 0.7;
}

.toast-error {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #ff4d4f;
    color: white;
    padding: 14px 20px;
    border-radius: 8px;
    opacity: 0;
    transform: translateY(20px);
    transition: .3s;
    font-size: 20px;
    z-index: 1000;
}

.toast-error.show {
    opacity: 1;
    transform: translateY(0);
}
