:root {
    --bg: #c3def7;
    --card: #fffaf4;
    --line: #8c6f64;
    --text: #5b4a44;
    --accent-1: #ffd9e2;
    --pink:#FCAFC1;
    --radius: 12px;
    --font: "Marck Script", cursive;
}
@font-face {
font-family: 'overdoze';
src: url('/shared/overdozesans.ttf') format('truetype'),local('overdozesans');
font-style: normal;
font-display: swap;
}
/* === СКРОЛЛ СЛЕВА === */

.notes-content > * {
    direction: ltr;
}

/* === ЗАГОЛОВОК === */
.notes-header {
    position: absolute;
    top: 60px;
    left: 270px;
    width: 500px;
    text-align: center;
    font-family: 'overdoze';
    color: #714543;
}

.notes-header h1 {
    font-size: 72px;
}

.notes-header p {
    font-size: 3rem;
}
.notebook-section{
    position:relative;
}
/* === КНОПКА ПОДТВЕРЖДЕНИЯ === */
.confirm-notes {
    position: absolute;
    left: 45%;
    top: 50%;

    font-size: 28px;
    border: 2px solid #8c6f64;
    background: #fffaf4;
    border-radius: 50%;
    width: 50px;
    height: 50px;

    cursor: pointer;
}

.confirm-notes.hidden {
    display: none;
}

/* === БЛОК НАГРАД === */
.skill-header {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: flex-start; /* не по центру */
}

.skill-icon-top {
    width: 22px;
    height: 22px;
    margin-bottom: 10px;
    object-fit: contain;
}
/* === АНИМАЦИЯ === */
.notes-fade {
    animation: fadeNotes 1s ease;
}

@keyframes fadeNotes {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
/* === БЛОК НАГРАД В ЗАМЕТКАХ === */
.rewards-inline {
    font-family: 'overdoze';
}

/* заголовок */
.rewards-title {
    text-align: center;
    margin-bottom: 8px;
}

/* подпись стадии */
.stage-label {
    text-align: left;
    font-size: 1.5rem; /* было 12px */
    color: #7a6a63;
    margin-bottom: 6px;
}


/* === ПРОГРЕСС === */

.progress-wrapper {
    width: 100%;
}

.progress-bar {
    width: 100%;
    height: 16px;
    border: 3px solid #8c6f64;
    border-radius: 8px;
    overflow: hidden;
    background: transparent;
}
.progress-fill {
    height: 100%;
    width: 0%;
    background: var(--pink);
}

.progress-labels {
    display: flex;
    margin-top: 7px;
    margin-left: 3px;
    margin-right: 3px;
    justify-content: space-between;
    font-size: 1.5rem;
    color:#7a6a63;
}
.divider {
    border-top: 2px dashed #8c6f64;
    margin: 8px 0;
}
/* === МОНЕТЫ (ЧЕК) === */

.coins-row {
    display: flex;
    justify-content: space-between;
    margin: 6px 0;
}

/* правая часть (число + монета) */
.coins-total-value {
    display: flex;
    align-items: center;
}
/* монетка — меньше */
.coin-emoji {
    font-size: 1.2rem; /* 🔥 уменьшили */
    line-height: 1;
}

.notes-content::-webkit-scrollbar {
    position: absolute;
    left: 0;
}