:root {
    --bg: #c3def7;
    --card: #fffaf4;
    --line: #8c6f64;
    --text: #5b4a44;
    --accent-1: #ffd9e2;
    --radius: 12px;
    --font: "Marck Script", cursive;
}
@font-face {
font-family: 'overdoze';
src: url('/shared/overdozesans.ttf') format('truetype'),local('overdozesans');
font-style: normal;
font-display: swap;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ФОН */
body {
    font-family: var(--font);
    overflow: hidden;
    background-color: var(--bg);
}
#notesImg,
#tableImg,
#characterImg {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    display: block;
}
#characterImg {
    transition: opacity 0.3s ease;
}

.bg img {
    position: absolute;
    inset: 0;           /* top:0 right:0 bottom:0 left:0 */
    width: 100%;
    height: 100%;
    object-fit: cover;
}


#phaseTitle {
    transition: opacity 0.3s ease;
}

/* ОСНОВНОЙ КОНТЕЙНЕР */
.container {
    height: 100vh;
    display: flex;
    align-items: flex-start;
}


.notes-content {
    position: absolute;
    top: 100px;
    left: 170px;
    font-family: "overdoze";
    font-size: 2rem;
    line-height: 1.7;
    min-height: 350px;
    color: #714543;
    outline: none;
}

.timer-standalone{
        position: absolute;
        bottom: 10px;
        left: 190px;
        font-family:"overdoze";
        font-size: 7rem;
        color: #BDECB6;

}
#timer-seconds{
    margin-left:90px;
}
#startBtn {
    position: absolute;
    left: 150px;
    bottom: 220px;
    background-size: cover;
    background: transparent;

    border: none;

}

.notes-content p {
    margin-bottom: 10px;
    padding-left: 14px;
    position: relative;
}


.notes-content p::before {
    content: "•";
    position: absolute;
    left: 0;
    color: var(--line);
}


/* ФУТЕР */
.footer {
    position: fixed;
    bottom: 10px;
    right: 20px;
    display: flex;
    gap: 10px;
}

.footer button {
    font-size: 0.8rem;
    padding: 6px 10px;
    border-radius: 6px;
    border: 1px solid var(--line);
    background: var(--card);
    cursor: pointer;
}

.toast-error {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #ff4d4f;
    color: white;
    padding: 14px 20px;
    border-radius: 8px;
    opacity: 0;
    transform: translateY(20px);
    transition: .3s;
    font-size: 20px;
    z-index: 1000;
}

.toast-error.show {
    opacity: 1;
    transform: translateY(0);
}
