:root {
    --bg: #c3def7;
    --card: #fffaf4;
    --line: #8c6f64;
    --text: #5b4a44;
    --accent-1: #ffd9e2;
    --radius: 12px;
}

@font-face {
    font-family: 'overdoze';
    src: url('/shared/overdozesans.ttf') format('truetype'),
         local('overdozesans');
    font-style: normal;
    font-display: swap;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow: hidden;
    background: var(--bg);
}

#appWrapper {
    width: 1920px;
    height: 1080px;

    transform-origin: top left;
}

.bg img,
#notesImg,
#tableImg,
#characterImg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bg img {
    pointer-events: none;
}

#characterImg {
    transition: opacity 0.3s ease;
}

.container {
    height: 1080px;
    display: flex;
    align-items: flex-start;
}

.notebook-section {
    position: relative;
}

.notebook-content {
    position: relative;
    left: 180px;
    min-height: 600px;
}
.notes-content {
    position: relative;
    top: 135px;

    font-family: "overdoze";
    font-size: 2rem;
    line-height: 1.3;

    width: calc(100% - 180px);
    min-width: 700px;
    max-width: 650px;
    min-height: 350px;
    max-height: 450px;

    overflow-y: auto;
    outline: none;

    color: #714543;
    text-align: left;
}
.timer-standalone {
    position: absolute;
    bottom: 25px;
    left: 250px;
    font-family: "overdoze";
    font-size: 9rem;
    color: #BDECB6;
}

#timer-seconds {
    margin-left: 90px;
}

.image-button {
    position: absolute;
    bottom: 320px;
    background: transparent;
    border: none;
}
.image-button img{
    max-width: 40%;
    width: auto;
    object-fit: cover;
}

.footer {
    position: absolute;
    bottom: 10px;
    right: 20px;
    display: flex;
    gap: 10px;
}

.footer.hidden {
    display: none;
}

.footer button {
    font-size: 0.8rem;
    padding: 6px 10px;
    border-radius: 6px;
    border: 1px solid var(--line);
    background: var(--card);
    cursor: pointer;
}

.dev-controls {
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 10px;
}

.toast-error {
    position: fixed;
    bottom: 20px;
    right: 20px;

    background: #ff4d4f;
    color: white;

    padding: 14px 20px;
    border-radius: 8px;

    opacity: 0;
    transform: translateY(20px);
    transition: .3s;

    font-size: 20px;
    z-index: 1000;
}

.toast-error.show {
    opacity: 1;
    transform: translateY(0);
}

#strikeBtn {
    position: absolute;
    left: 45%;
    top: 10%;

    font-size: 54px;
    border: 2px solid #8c6f64;
    background: #fffaf4;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-family: 'overdoze';
    color: #714543;
    cursor: pointer;
}
.sessionInformation {
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 20px;
}

.strike-floating-btn:hover {
    transform: scale(1.08);
}